/* App-wide CSS */
:root {
    --standard-width: 380px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    position: relative;
}

body {
    background-color: #fff;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    /* margin-bottom: 0px; */
}

button, .button {
    display:block;
    padding: 8px 16px;
    min-height: 40px; 
    background-color: #666;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-decoration-line: none;
}

.nav {
    display:flex;
    flex-direction: row;
    top:0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 64px; 
    /* background: linear-gradient(to bottom, #eee, transparent); */
}

.nav div {
    flex: 1 1 0%;
}

.nav .left {
    padding-left: 16px;
}

.nav .middle {
    text-align: center;
}

.nav .middle .active {
    font-weight: bold;
    text-decoration: underline;
}

.nav .right {
    display: flex;
}

.nav .right a {
    /* display: block; */
    margin-left: auto;
    padding-right: 16px;
    text-decoration: none;
}

/* Main container */
#daily-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0;
    gap: 16px;
}

#daily-view > div {
    width: 100%;
    gap: 16px;
}

/* Daily View */
#daily-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#done-for-today {
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-out, margin-top 0.5s ease-in-out;
}

#done-for-today.visible {
    text-align: center;
    display: block;
    opacity: 1;
}

.habit-item {
    display: flex;
    gap: 12px;
    flex-direction: row;
    min-height: 48px;
    padding: 16px 16px;
    border-radius: 12px;     
    transition: opacity 0.2s ease-in, margin-top 0.5s ease-in-out; /* Add transition for disappearing at margin-top*/
    border: 1px solid #ddd;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.17); /* Add drop shadow with 5px blur */
    background-color: #fff;
}

.habit-item.fade-out {
    opacity: 0; /* fade out effect */
    margin-top: -80px; /* adjust this based on height of items */
}

.habit-item:hover {
    cursor: pointer;
    background-color: #fafafa;
}

.habit-item > * {
    align-self: center;
}

.habit-item > .bubble-btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 16rem;
    border: 3px solid lightgrey;
}

.habit-item > .bubble-btn:hover {
    background-color: #eee;
}

.habit-item > .item-details {
    flex-direction: column;
    /* gap: 0px; */
}

.habit-item > .item-details > p {
    margin: 0px
}

#done-for-today {
    display: no;
}

.add-habit-item {
    /* need to see if we ne */
    float: right;
    margin-top:8px;
    width: 80px;
    /* width: var(--standard-width); */
    padding: 4px 16px; 
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ccc;
    color: darkgrey;
    border-radius: 8px;
    text-align: center;
    user-select: none; 
    font-size: 28px;
}

.add-habit-item:hover {
    /* margin-top: 4px;
    width: 180px;
    padding: 8px 16px; */
    background-color: #666;
    color: #fff;
}

/* Monthly view */
.nav > .middle {
}
/* 
section.header {
    height: 120px;
} */

#yearly-view {
    /* padding-top: 128px; */
    position: relative;
    /* top: 64px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    /* height: 100vh;  */
}

#yearly-view .habit-summary  {
    display: flex; 
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 8px;
    gap: 0px;
}

.week-col {
    display: flex;
    flex-direction: column;
    /* gap: 2px; */
}

/* summary page */
.bubble-sm {
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    background-color: #ddd;
    border-radius: 1px;
    cursor: pointer;
    border-radius: 2px;
}

.bubbleInFocus {
    position: absolute;
    width: 24px;
    height: 24px; 
    border: solid 1px #ccc;
    border-radius: 4px;
    background-color: #ddd;
    z-index: 1000;
    pointer-events: none; /* Ensure it doesn't interfere with other elements */
}

.bubbleInFocus > .date-display {
    position: relative;
    left: 32px;
    min-width: max-content;
    font-weight: bold;
    background-color: #fff;
    padding: 4px 8px 4px 4px;
}

.bubble-sm.task-started, .bubbleInFocus.task-started {
    background-color: lightgreen;
}

.bubble-sm.task-completed, .bubbleInFocus.task-completed {
    background-color: darkgreen;
}

/* might as well record those pop bubble sound */

/* Track new habit */
#new-habit > form {
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}

#habit-tracking-form > * {
    padding: 8px; 
    margin-bottom: 16px;
}

