{% extends "layout.html" %}
{% block main %}
<section id="daily-view">
    <div id="daily-items">        
        {% for habit in habits %}
        <div id="habit-{{ habit.id }}" class="habit-item" data-id="{{ habit.id }}" data-name="{{ habit.name }}" data-value="{{ habit.value }}" data-date="{{ date.selected.date }}">
            <div class="bubble-btn"></div>
            <div class="item-details">
                <p><strong>{{ habit.name }}</strong></p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% set visible = 'visible' if habits|length == 0 else '' %}
    <div id="done-for-today" class="container {{ visible }}">
        <h2>Congrats 😊</h2>
        <p>You have completed all tasks for the day</p>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const btns = document.querySelectorAll(".bubble-btn");
        const items = document.querySelectorAll(".item-details");
        const doneForToday = document.getElementById("done-for-today");

        let intervalId;
        let secondsPassed = 0;

        btns.forEach((btn) => {
            // TODO: LONG PRESS TO MARK PARTIAL COMPLETION
            // btn.addEventListener("mousedown", () => { 
            //     console.log("down");
            //     intervalId = setInterval(() => {
            //         secondsPassed++;
            //         console.log(`${secondsPassed} session(s) passed`);
            //         if (secondsPassed >= 4) {
            //             clearInterval(intervalId);
            //             console.log("Timer stopped");
            //         } 
            //     }, 1000);
            // }); 

            // MARKING ITEM AS "DONE"
            btn.addEventListener("mouseup", async (e) => { 
                const parent = e.target.closest('.habit-item');
                const habitId = parent.dataset.id;
                const date = parent.dataset.date;
                const response = await fetch(`/update_status`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({
                        'id':habitId,
                        'referrer': "{{request.referrer}}",
                        'date': date,
                    })
                });

                if (response.ok) {
                    parent.classList.add('fade-out');
                    setTimeout(() => {
                        parent.remove();
                    }, 500); // To match with the duration of CSS transition
                } else {
                    console.error('Failed to mark item as done');
                }                
            });         
            
            // DISAPPEARING ITEM
            btn.addEventListener("click", () => { 
                // TODO: LONG PRESS TO MARK PARTIAL COMPLETION
                // clearInterval(intervalId);
                // secondsPassed = 0;
                // console.log("Timer reset");
                const remainingBtns = document.querySelectorAll(".bubble-btn").length - 1;
                if ( remainingBtns <= 0 ) {
                    doneForToday.style.display = "block";
                    setTimeout(() => {
                        doneForToday.classList.add("visible");
                    }, 1000);
                } 
            });
        });

        // VIEW HABIT DETAILS
        items.forEach((item) => {
            item.addEventListener("click", (e) => {
                const parent = e.target.closest('.habit-item');
                const habitId = parent.dataset.id;
                const date = parent.dataset.date;
                window.location.href = `/${date}/${habitId}`;
            })
        });

    });
</script>

{% endblock %}