{% extends "layout.html" %}
{% block main %}
<div class="main">

    <div id="daily-view">        
        <!-- <h1>Today</h1> -->
        {% for habit in habits %}
        <div id="habit-{{ habit['id'] }}" class="habit-item" data-id="{{ habit['id'] }}" data-name="{{ habit['name'] }}" data-value="{{ habit['value'] }}">
            <div class="bubble-btn"></div>
            <div class="item-details">
                <p><strong>{{ habit['name'] }}</strong></p>
                <!-- <p>{{ habit['value'] }}</p> -->
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div id="done-for-today" class="container">
        <h2>Congrats 😊 You have completed all tasks for the day</h2>
    </div>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const btns = document.querySelectorAll(".bubble-btn");
            const items = document.querySelectorAll(".item-details");


            let intervalId;
            let secondsPassed = 0;

            btns.forEach((btn) => {
                btn.addEventListener("mousedown", () => { 
                    console.log("down");
                    intervalId = setInterval(() => {
                        secondsPassed++;
                        console.log(`${secondsPassed} session(s) passed`);
                        if (secondsPassed >= 4) {
                            clearInterval(intervalId);
                            console.log("Timer stopped");
                        } 
                    }, 1000);
                }); 

                btn.addEventListener("mouseup", () => { 
                    clearInterval(intervalId);
                    secondsPassed = 0;
                    console.log("Timer reset");
                });

                btn.addEventListener("click", async (e) => { 

                    // MARK ITEM AS DONE
                    const parent = e.target.closest('.habit-item');
                    const habitId = parent.id.split('-')[1];
                    const response = await fetch(`/mark_done/${habitId}`, {method: 'POST'});
                    
                    if (response.ok) {
                        parent.classList.add('fade-out');
                        setTimeout(() => {
                            parent.remove();
                        }, 500); // To match with the duration of CSS transition
                    } else {
                        console.error('Failed to mark item as done');
                    }                
                });                
            });

            items.forEach((item) => {
                item.addEventListener("click", (e) => {
                    const parent = e.target.closest('.habit-item');
                    window.location.href = `/habit_details?id=${parent.dataset.id}`;

                })
            });

        });
    </script>

{% endblock %}