{% extends "layout.html" %}
{% block title %}Habit Detail{% endblock %}
{% block navbar %}
    <nav class="nav">
        <div class="left">
            <a href="javascript:history.back()">< Back</a>
        </div>
        <div class="middle">
            <a href="/{{ habit.date }}">{{ habit.date }}</a>
        </div>
        <div class="right">
            <a href="{{ url_for('update_habit', habit_id=habit.id) }}">Edit</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <section class="main">
        <h1>{{ habit.habit_name }}</h1>
        <form action="{{ url_for('update_status') }}" method="POST">
            <input type="hidden" name="id" value="{{ habit.id }}">
            <input type="hidden" name="date" value="{{ habit.date }}">
            <input type="hidden" name="referrer" value="{{ request.referrer }}">
            <button id="done-btn" type="submit" class="{{habit.status}}">
                {% if habit.status == "done"%}Mark as Not Done
                {% else %}Mark as Done
                {% endif %}
            </button>
        </form>
    </section>
{% endblock %}
