{% extends "layout.html" %}
{% block main %}
    <div><a href="/profile">Profile</a></div>
    <div><a href="/summary">Summary</a></div>
    <h1>Today</h1>
    <p>{{ current_time }}</p>
    <div class="container">
        <form method="post">
            {% for habit in habits %}
            <div id="habit-{{ habit['id']}}" class="habit-item" name="{{ habit['name'] }}" value="{{ habit['value'] }}">
                <div class="bubble-btn"></div><div class="desc"><p><strong>{{ habit['name'] }}</strong></p><p>{{ habit['value'] }}</p></div>
            </div>
            {% endfor %}
            <div class="habit-item add">+ Add habit</div>
        </form>
    </div>
    <script>
        const btn = document.querySelector("#habit-3");
        let intervalId;
        let secondsPassed = 0;

        btn.onmousedown = () => { 
            console.log("down");
            intervalId = setInterval(() => {
                secondsPassed++;
                console.log(`${secondsPassed} session(s) passed`);
                if (secondsPassed >= 4) {
                    clearInterval(intervalId);
                    console.log("Timer stopped");
                } 
            }, 1000);
        }; 
        btn.onmouseup = () => { 
            clearInterval(intervalId);
            secondsPassed = 0;
            console.log("Timer reset");
        };
        btn.onclick = () => { console.log("click")};
        // btn.addEventListener("click", );
    </script>

{% endblock %}