<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet">
    <title>{% block title%} Habitru {% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav class="nav">
        <div class="left">
            <!-- <a href="/profile">Profile</a> -->
            <h1 class="title">
                {{ date.selected.year if current_url == '/' + date.selected.year + '/' else date.selected.date }}
            </h1>
        </div>
        <div class="middle">
            <!-- TODO: NEED TO FIX DATE NAVIGATION -->
            <a href="/{{date.current.date}}/" class="{% if current_url == '/' + date.selected.date + '/' or current_url == '/' %}active{% endif %}">Today</a> | 
            <!-- <a href="/month" class="{{ 'active' if current_url == '/month' else '' }}">Monthly</a> |  -->
            <a href="/{{date.selected.year}}/" class="{% if current_url == '/' + date.selected.year + '/' %}active{% endif %}">Summary</a>
        </div>
        <div class="right">
            <a href="/new_habit" class="add-habit-item">+</a>
        </div>
    </nav>
    {% endblock %}
    {% block main %}{% endblock %}
</body>
</html>