{% extends "layout.html" %}
{% block title %}Habitru: Add a new habit{% endblock %}
{% block navbar %}
    <nav class="nav">
        <div class="left">
            <a href="javascript:history.back()">< Back</a>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <h1>Add a new habit</h1>
     <div id="new-habit" class="container">
        <form name="new-habit" id="habit-tracking-form" action="/daily_view" method="POST">
            <p>Habit Name:</p>
            <input type="text" name="habit-name" id="" placeholder="Track your meal time, exercise... and more">
            <p>Current version: type: "to_do" value: "none" start_date: "today", frequency: "daily"</p>
            <!-- <p>New habit to be marked as done, and tracked by user everyday</p> -->
            <!-- <input type="text" name="" id="" placeholder="Description"> -->
            <!-- <fieldset>
                <legend>Measure Unit</legend>
                <label>
                    <input type="radio" name="tracking-method" value="by-task">
                    By Task
                </label>
                <label>
                    <input type="radio" name="tracking-method" value="with-timer"/>
                    With Timer
                </label>
                <label>
                    <input type="radio" name="tracking-method" value="with-quantity">
                    With Quantity
                </label>
            </fieldset>
            <fieldset>
                <legend>Frequency</legend>
                <label>
                    <input type="radio" name="tracking-frequency" value="daily">
                    Daily
                </label>
                <label>
                    <input type="radio" name="tracking-frequency" value="weekly">
                    Weekly
                </label>
            </fieldset> -->
            <button id="submit-form" type="submit">Submit</button>
        </form>
     </div>
     <!-- <script>
        document.addEventListener("DOMContentLoaded", (e) => {
            
            const submitButton = document.getElementById("submit-form");
            const inputName = document.getElementsByName("habit-name");
            const inputTrackingMethod = document.getElementsByName("tracking-method");
            const inputFrequency = document.getElementsByName("tracking-frequency");
            
        });
     </script> -->
{% endblock %}