{% extends "layout.html" %}
{% block main %}
<div><a href="/home">< Back</a></div>
    <h1>summary goes here</h1>
    <p>2025 Jan 2</p>

    <table>
        <tr>
            {% for i in range(30) %}
            <th>{{ i }}</th>
            {% endfor %}
            <td></td>
        </tr>
        {% for tracker in habits %}
        <tr>
            {% for i in range(30) %}
            <td><div class="bubble-sm"></div></td>
            {% endfor %}
            <td>{{ tracker['name']}}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- {% for i in range(30) %}
        <p>{{ i }}</p>
    {% endfor %} -->
{% endblock %}