{% extends "layout.html" %}
{% block main %}
    <form action="/daily_view" method="post">
        <div class="container">
            <h1>What activities would you like to track?</h1>
            {% for habit in habits %}
            <div class="habit-item">
                <input type="checkbox" id="habit-{{ habit['id'] }}" name="{{ habit['name'] }}" value="{{ habit['value'] }}"><label for="{{ habit['name'] }}">{{ habit['name'] }} {{habit['value']}}</label><br>
            </div>
            {% endfor %}
            <button type="submit">Track habits</button>
        </div>
    </form>
{% endblock %}